.container{
    border: 1px solid #fadded;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 30px;
    background-color: white;
    border-radius: 50px;
}
p{
    text-align: left;

}

.googleIcon{
    background: url('./Google_logo.png') 50px center no-repeat;
    width: 400px;
}
.RememberBlock{
    display: flex;
    justify-content: space-around;
}
.passwordWrap{
    position:relative
}
.eyeButton{
    position:absolute;
    left: 350px;
    top: 45px;
}